SungJinwooRobot/config.py
SungJinwooRobot/*.session
SungJinwooRobot/*.session-journal
SungJinwooRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
SungJinwooRobot/modules/helper_funcs/temp.txt
SungJinwooRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
sungjinwoo.session-journal
updates.txt
*.exe